/** Sección de contenido **/
div.form, div.index, div.view {
    border-left-color: whitesmoke;
    border-left-style: none;
    border-left-width: 0;
    float: none;
    padding: 10px 2%;
    width: 96%;
}

/** Menú administrativo **/
ul#admin-menu {
    float: right;
    margin-right:2%;
}

/** Items relacionados en view **/
.related {
    margin-left:2%;
    margin-right:2%;
}
.related.grupos {
    width: 30%;
}
.related.campos {
    float: none;
    width: 30%;
}

/** Agregar colección **/
.crear-col-sec-2 div {
    float: left;
    clear: none;
    padding-right: 50px;
}

.coleccion.crear.grupos {
    width: 300px;
}
.coleccion.crear.campos {
    width: 880px;
}
.grupo {
    width: 420px;
}
.permiso {
    width: 60px;
}
.info {
    float: left;
    width: 320px;
}
.campos {
    display: table-column;
    float: left;
    max-width: 890px;
    overflow: auto;
    width: auto;
}
.nombre {
    width: 400px;
}
.multi {
    width: 200px;
}
#content .campos .actions {
    width: 200px;
}